@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background.jpg);
    height: 600px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg-dekstop-2x-min.jpg);
    }
  }
  .hero-content {
    padding-top: 188px;
    padding-bottom: 188px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
  }
  .hero-title {
    margin-bottom: 48px;
  }
  .feature,
  .team,
  .customers,
  .footer {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  /* ------------ */
  .main-header {
    display: flex;
    align-items: center;
  }
  .header-nav {
    display: flex;
  }

  /* ------------- */
  .feature-list {
    display: flex;
  }

  .feature-item {
    width: calc((100% - 72px) / 4);
    margin-bottom: 0;
  }
  .feature-pic {
    background: var(--light-background-color);
    border-radius: 4px;
    width: 264px;
    height: 112px;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .feature-title {
    margin-top: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .feature-text {
    margin-bottom: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    max-width: 264px;
  }
  /* -------------------- */
  .work-title {
    color: var(--title-text-color);
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    margin-top: 0px;
    margin-bottom: 72px;
  }
  .work-list {
    display: flex;
    gap: 24px;
  }
  .work-item {
    width: calc((100% - 48px) / 3);
  }
  .work-img {
    display: block;
  }

  /* -------------------- */
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .team-item {
    width: calc((100% - 72px) / 4);
    background: var(--primary-white-color);
    margin-bottom: 0;
  }
  .team-list {
    display: flex;
  }
  /* -------------------------- */
  .customers-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .customers-item {
    width: 168px;
    height: 88px;
    margin-bottom: 0;
  }

  /* ------------ */

  .header-list {
    margin-left: 76px;
  }
  .header-link {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-link:hover,
  .header-link:focus {
    color: var(--accent);
  }
  .adress {
    display: flex;
    margin-left: auto;
  }
  .adress-link {
    color: var(--primary-text-color);
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .adress-link:hover,
  .adress-link:focus {
    color: var(--accent);
  }
  .adress-list {
    display: flex;
    flex-direction: row;
  }
  .adress-item + .adress-item {
    margin-left: 40px;
  }
  /* -------------- */
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-content {
    display: flex;
  }
  .footer-form {
    display: flex;
  }

  .footer-social {
    display: inline-block;
    max-width: 208px;
    margin-left: 120px;
  }
  .footer-box {
    margin-left: 80px;
    margin-top: 0;
  }
  .footer-social-link:hover {
    background: var(--focus-icon-color);
  }
  .footer-form-button:focus,
  .footer-form-button:hover {
    background-color: var(--accent-button-color);
  }
  .footer-form-input {
    width: 264px;
    margin-bottom: 0;
  }
  /*  -----portfolio--- */
  .btn {
    padding-top: 100px;
    padding-bottom: 120px;
  }
  .btn-list {
    margin-top: 0px;
    margin-bottom: 72px;

    gap: 24px;
  }

  /* ---- */
  .advantages-item {
    width: calc((100% - 48px) / 3);
  }
  .advantages-list {
    gap: 48px;
    column-gap: 24px;
  }
}
