:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent: #4d5ae5;

  --primary-white-color: #ffffff;
  --footer-border-text-color: #e7e9fc;
  --accent-button-color: #404bbf;
  --light-background-color: #f4f4fd;
  --focus-icon-color: #31d0aa;
}
/* STUDIO */
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
  font-size: 16px;
  min-height: 320px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.link {
  text-decoration: none;
}
.container {
  width: 100%;

  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* -----------------mobile-css------------- */
@media screen and (max-width: 767px) {
  .header-list {
    display: none;
  }
  .adress-list {
    display: none;
  }
  .team-item:last-child {
    margin-bottom: 0;
  }
  .feature-item:last-child {
    margin-bottom: 0;
  }
  .customers-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
}
.main-header {
  display: flex;
  text-align: center;
  justify-content: space-between;
  border-bottom: 1px solid #e7e9fc;

  background: #ffffff;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-logo {
  color: var(--title-text-color);
  text-decoration: none;
  font-family: Raleway;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-subject {
  color: var(--accent);
}
.main-header {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;

  padding: 24px 0;
}
@media screen and (max-width: 767px) {
  .mobile-menu {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: #ffffff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 40px;
  }
  .mobile-contacts-container {
    margin-top: auto;
  }
  .mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 0;
    background-color: transparent;

    line-height: 0;
    border: none;
    padding: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #2e2f42;
  }
  .mobile-menu-close-icon {
    width: 8px;
    height: 8px;
    fill: currentColor;
  }
  .menu-contacts-item {
    margin-bottom: 40px;
  }
  .menu-contacts-item:last-child {
    margin-right: 0;
  }
  .menu-adress-list {
    margin-bottom: 48px;
    flex-direction: column;
  }
  .menu-contacts-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: var(--title-text-color);
  }

  .menu-contacts-link:focus {
    color: var(--accent);
  }
  .menu-contacts-link.current {
    color: var(--accent);
  }

  .menu-adress-item {
    margin-bottom: 40px;
  }
  .tel-adress-link {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #4d5ae5;
  }
  .mail-adress-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;

    letter-spacing: 0.02em;

    color: var(--primary-text-color);
  }
  .menu-social {
    display: flex;
    width: 100%;
  }
  .menu-social-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-social-item {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    justify-content: center;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    margin-right: 34px;
  }

  .menu-social-item:last-child {
    margin-right: 0;
  }
  .menu-social-item:focus {
    background-color: #404bbf;
  }
  .menu-social-icon {
    width: 16px;
    height: 16px;
  }
  .menu-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}

/*--------------------------- hero */
.hero {
  margin: auto;
  text-align: center;
  max-width: 1440px;
  background-color: var(--title-text-color);
  background-size: cover;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-mob-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 432px;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-mob-2x-min.jpg);
  }
}
.hero-content {
  padding-top: 112px;
  padding-bottom: 112px;
  margin: auto;
  padding-left: 0;
  padding-right: 0;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;

  color: var(--primary-white-color);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  max-width: 320px;
}

.hero-button {
  color: var(--primary-white-color);
  background-color: var(--accent);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent-button-color);
  color: var(--primary-white-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .modal {
    overflow-y: auto;
  }
}
.modal {
  text-align: left;
  position: absolute;
  width: calc(100% - 2 * 15px);
  max-height: 576px;
  height: 90%;
  background-color: #fcfcfc;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.is-hidden {
  transform: translate(-50%, -50%) scale(0);
}
.modal-btn {
  position: absolute;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: transparent;
  border: none;
  cursor: pointer;
  background: var(--footer-border-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000;
  margin-bottom: 24px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-button-color);
  color: var(--footer-border-text-color);
}

.modal-img {
  width: 8px;
  height: 8px;
  fill: currentColor;
}

/*      ------------------------ forma---------- */
.form-in-modal {
  width: 408px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.form-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  text-align: center;
  letter-spacing: 0.02em;

  color: #2e2f42;
  display: block;
  padding-top: 72px;
  margin-bottom: 16px;
}
.form-field {
  display: block;

  padding-left: 24px;
  padding-right: 24px;
  position: relative;
}
.form-label {
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.04em;

  color: #8e8f99;

  display: inline-block;

  margin-bottom: 8px;
}
.form-icon {
  position: absolute;
  left: 40px;
  top: 68%;

  transform: translateY(-50%);

  fill: #2e2f42;
  display: flex;
  text-align: center;
  justify-content: center;
}
.form-input {
  display: block;
  outline: none;
  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 8px;
  padding-left: 38px;
}
.form-input:focus {
  border: 1px solid #4d5ae5;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus + .form-icon {
  fill: #4d5ae5;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

textarea {
  resize: none;
}
.form-comment {
  width: 100%;
  min-height: 138px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 16px;
}
.form-comment:focus {
  border: 1px solid #4d5ae5;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: rgba(46, 47, 66, 0.4);

  padding-top: 8px;
}

/*    --------------- ----------checkbox----- */

.form-check-desc {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17px;

  letter-spacing: 0.04em;

  color: #8e8f99;
}

.form-check-text {
  font-size: 12px;
  line-height: 1.17px;

  letter-spacing: 0.04em;
  text-decoration-line: underline;

  color: #4d5ae5;
  margin-top: 16px;
}
.check-label {
  display: block;

  position: relative;
}
.check-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.modal-form-custom-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-top: 16px;
  margin-left: 24pxpx;
  margin-right: 8px;
  cursor: pointer;
  border: 1px solid #2e2f42;
  border-radius: 2px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-icon {
  display: inline-block;
  align-items: center;
  justify-content: center;
  opacity: 0;
  margin-right: 0;
}
.check-input:checked + .modal-form-custom-checkbox {
  background-color: #404bbf;
  border: 1px solid #404bbf;
}
.check-input:checked + .modal-form-custom-checkbox .checkbox-icon {
  opacity: 1;
  fill: #fff;
}

/* -------------- form-button--------------- */
.form-btn {
  padding-bottom: 24px;
  margin-top: 24px;
  display: flex;
  text-align: center;
  justify-content: center;
}
.form-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;

  color: #ffffff;
  background: #4d5ae5;

  min-width: 169px;
  min-height: 56px;
  cursor: pointer;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  text-align: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-button:hover,
.form-button:focus {
  background-color: var(--accent-button-color);
  color: var(--footer-border-text-color);
}

/*---------------- section feauteres */

.feature {
  padding-top: 96px;
  padding-bottom: 96px;
}

.feature-item {
  width: 100%;
  margin-bottom: 72px;
}

.feature-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 8px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
}
.feature-text {
  font-style: normal;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.5;
  max-width: 396px;
}

.feature-pic {
  display: none;
}

.feature-img {
  max-width: 64px;
  max-height: 64px;
  justify-content: center;
  align-items: center;

  display: flex;
}

/*--------------------- section work */

.work {
  padding-bottom: 96px;
}
.work-title {
  color: var(--title-text-color);
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  margin-top: 0px;
  margin-bottom: 72px;
}
.work-list {
  display: flex;
  gap: 24px;
}
.work-item {
  width: calc((100% - 48зч) / 3);
}
.work-img {
  display: block;
  width: 100%;
}

/* -------------------section team */

.team {
  background: var(--light-background-color);
  padding-bottom: 96px;
  padding-top: 96px;
}
.team-img {
  display: block;
  width: 100%;
  height: auto;
}
.team-list {
  display: block;

  column-gap: 24px;
}
.team-item {
  width: 100%;
  background: var(--primary-white-color);
  margin-bottom: 72px;
}

.borders-content {
  padding: 32px 16px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
  margin-top: 0px;
}
.team-subject {
  margin-top: 0;
  margin-bottom: 72px;
  text-align: center;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 0px;
  margin-top: 0px;
}
.team-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.team-social-item {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  justify-content: center;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-item:hover,
.team-social-item:focus {
  background-color: #404bbf;
}
.team-social-icon {
  width: 16px;
  height: 16px;
}
.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* ------------------section customer ------------*/

.customers {
  padding-bottom: 96px;
  padding-top: 96px;
}
.customers-title {
  margin-top: 0;
  margin-bottom: 72px;
  text-align: center;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 16px;
}

.customers-item {
  width: 190px;
  height: 88px;
  margin-bottom: 72px;
  margin-top: 0;
}

.customers-item {
  width: calc((100% - 16px) / 2);
}

.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #8e8f99;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  fill: #8e8f99;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover {
  border-color: var(--accent-button-color);
  color: var(--accent-button-color);
}
.customers-link:focus {
  border-color: var(--accent-button-color);
  color: var(--accent-button-color);
}
.customers-icon {
  width: 104px;
  height: 56px;
  fill: currentColor;
}

/* ---------------footer  */

.footer {
  background: var(--title-text-color);
  padding-top: 96px;
  padding-bottom: 96px;
  display: flex;
  margin: auto;
}
.footer-content-logo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: auto;
}
.footer-logo {
  color: var(--accent);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-subject {
  color: var(--light-background-color);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--footer-border-text-color);
  margin-bottom: 0px;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  max-width: 268px;
  text-align: left;
}
.footer-content {
  display: flex;
  flex-direction: column;
}
.footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;

  max-width: 208px;
  margin-top: 72px;
}
.footer-social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: var(--primary-white-color);
  margin: 0;
}
.footer-social-item {
  width: 40px;
  height: 40px;
  background: #4d5ae5;
  border-radius: 50%;
  justify-content: center;
}
.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-icon {
  width: 24px;
  height: 24px;
}

.footer-social-link:hover {
  background: var(--focus-icon-color);
}
.footer-social-link:focus {
  background: var(--focus-icon-color);
}

.footer-social-list {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}
.footer-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 72px;
}
.footer-form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-form {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
}
.footer-form-input {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  max-width: 398px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: 1px solid #ffffff;
  outline: transparent;
  border-radius: 4px;
  padding-left: 16px;
}
.footer-form-input:focus {
  color: #ffffff;
}

.footer-form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: #ffffff;
}
.footer-form-button {
  width: 168px;
  height: 40px;
  margin: auto;
  background: #4d5ae5;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: transparent;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-button:focus,
.footer-form-button:hover {
  background-color: var(--accent-button-color);
}
.footer-form-icon {
  width: 24px;
  height: 24px;
  margin-left: 16px;
}
/* ------------------ */

/* PORTFOLIO */
/* button filters */
.btn {
  padding-top: 48px;
  padding-bottom: 48px;
}
.btn-list {
  list-style: none;
  text-decoration: none;

  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-bottom: 48px;
  padding-left: 0;
  gap: 16px;
  column-gap: 24px;
}
.btn-link {
  display: inline-block;
  color: var(--accent);
  background: var(--light-background-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  list-style: none;
  cursor: pointer;

  border-radius: 4px;
  padding: 12px 24px;
  min-width: 69px;
  text-align: center;
  border: 1px solid var(--footer-border-text-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-list .link:hover,
.btn-list .link:focus {
  color: var(--primary-white-color);
  background: var(--accent-button-color);

  border-color: var(--accent-button-color);
}

/* --------------------section advantage */
.advantages-link {
  text-decoration: none;
}
.advantages-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  position: relative;
  overflow: hidden;
}

.advantages-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.advantages-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.advantages-img {
  display: block;
  width: 100%;
  height: auto;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  column-gap: 24px;
}

.advantages-link:hover .advantages-desc {
  transform: translate(0, 0);
  opacity: 1;
}

.advantages-overlay {
  position: relative;
  overflow: hidden;
}
.advantages-desc {
  position: absolute;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-background-color);
  padding: 40px 32px 164px 32px;
  margin: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background: var(--accent);
  transform: translate(0, 100%);
  transition: transform 250ms linear;
  opacity: 0;
}

.advantages-subject {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 8px;
  padding-left: 16px;
  padding-right: 54px;
}
.advantages-text {
  font-size: 16px;
  line-height: 1.5;

  color: var(--primary-text-color);
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 16px;
}
.advantages-content {
  padding-top: 32px;
  padding-bottom: 32px;
  border-top: 0;
  border: 1px solid var(--footer-border-text-color);
  background: var(--primary-white-color);
  border-top: 0px;
}
